// Settings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// Devices sizes
$desktop-width: 960px;
$tablet-width: 480px;

// Properties
$radius: 10px;
$shadow: 0px 4px 8px rgba(black, 0.3);

// z-indexes
$loading-zindex: 11;
$modal-zindex: 10;

// Colors :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$alpha: darken(cornflowerblue, 10);
$beta: orange;
$gama: mediumvioletred;
$outline-color: $alpha;
$error-color: $gama;
// $bg-color: #F0F0F0;
$bg-color: #DDD;

// Gray scale
$gray-darker: #111;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #CCC;

// Typography :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$font-family: "Ubuntu", "Droid Sans", sans-serif;
$font-color: $gray;
$font-size: 1rem;

// Forms ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$field-height: 45px;
