/**
* Flex
* @param {flex-align} [$align-items = center] - define align-items property for flex blocks
* @param {flex-align} [$justify-content = center] - define justify-content property for flex blocks
* @param {flex-direction} [$flex-direction = row] - define flex-direction property for flex blocks
**/
@mixin flex($align-items: center, $justify-content: center, $flex-direction: row) {
  display: flex;
  @if $align-items {
    align-items: $align-items;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $flex-direction {
    flex-direction: $flex-direction;
  }
}

/**
* Transition
* @param {property} $property - define wich property will receive the transition effect
* @param {time|milliseconds} $timing - define time of the transition
* @param {type} $type - define the tipe of the cubic-bezier animation in transition effect
**/
@mixin transition($property: all, $timing: .2s, $type: ease-in-out) {
  transition: $property $timing $type;
}

/**
* Breackpoint
* @param {query-type} $query-type - type of device (mobile, tablet) for media-query
* MOST USED: tablet
**/
@mixin breakpoint($query-type) {
  @if $query-type == tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  } @else if $query-type == desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }
}
